﻿@*
	For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
	ViewData["Title"] = "Products";
}

<h2>Products list</h2>

<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>#</th>
			<th>Code</th>
			<th>Name</th>
			<th>Category</th>
			<th>Unit price</th>
			<th>Date of manufacture</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>prax23</td>
			<td>Mojo</td>
			<td>Other</td>
			<td>13.30</td>
			<td>2019-05-14</td>
		</tr>

		@for (int i = 0; i < (int)ViewData["count"]; i++)
		{
			<tr>
				<td>@(i + 1)</td>
				<td></td>
				<td>@(ViewData["products"])</td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		}

	</tbody>
</table>
